.about-us {
  font-family: "Noto Sans", sans-serif;
  font-weight: 800;
  margin: 4rem 0;

  h1 {
    text-align: center;
    margin-bottom: 3rem;
    color: #1759A6;
    font-weight: 900;
    font-size: 3rem;
  }

  .about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    padding: 4rem;
    background-color: #6894c5;
    position: relative;

    .about-info {
      text-align: justify;
      margin-inline: 5rem;
      color: white;

      p {
        font-size: 1.25rem;
      }

      .links {
        display: flex;
        justify-content: center;
        gap: 2rem;
      }
    }

    .about-hero {
      position: relative;
      text-align: center;

      iframe {
        width: 540px;
        height: 350px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .about-info {
    margin-inline: 0 !important;
  }

  .about-hero {

    iframe {
      width: 400px !important;
      height: 240px !important;
    }
  }
}

@media (max-width: 576px) {
  .about-us {
    margin-top: 2rem;

    h1 {
      margin: 0;
      font-size: 2rem;
    }

    .about-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      background-color: #6894c5;

      .about-info {
        margin-inline: 0;
        /* Remove extra margin */
        text-align: center;
        /* Center text */

        p {
          font-size: 1rem;
        }
      }

      .about-hero {
        display: block;
        width: 100%;
        text-align: center;

        iframe {
          width: 280px !important;
          height: 180px !important;
        }
      }
    }
  }
}