.contact {
    font-family: "Noto Sans", sans-serif;
    margin: 4rem 5rem;

    h1 {
        text-align: center;
        margin-bottom: 1.5rem;
        color: #1759A6;
        font-weight: 900;
        font-size: 3rem;
    }

    .contact-content {
        display: grid;
        gap: 6rem;

        .content-details {
            display: flex;
            flex-direction: column;
            gap: 2rem; /* Space between contact cards */
            justify-content: center;
            align-items: flex-start; /* Align content to the left */

            .content-card {
                width: 100%;
                display: flex;
                align-items: center;
                padding: 1rem;
                border: 1px solid #ddd;
                border-radius: 1rem;
                background-color: #f9f9f9;
                transition: transform 0.3s, box-shadow 0.3s;

                a {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    gap: 1.5rem;
                    color: black;
                    width: 100%; 

                    .icon-circle {
                        flex-shrink: 0; 
                        width: 4rem;
                        height: 4rem;
                        background-color: #1759A6;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 2rem;
                            height: auto;
                        }
                    }

                    p {
                        margin: 0;
                        font-size: 1rem;

                        span {
                            font-weight: bold;
                            color: #1759A6;
                        }
                    }
                }

                &:hover {
                    transform: translateY(-5px);
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .contact {
        margin: 4rem 0rem !important;
        h1 {
            font-size: 3rem !important;
        }

        h2, p {
            text-align: center;
        }

        .contact-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .contact-form {
                width: 75% !important;
                display: flex;
                align-content: center;
            }

            .content-details {
                .content-card {
                    width: 20rem;
                    a {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

@media (max-width: 320px) {
    .contact {
        h1 {
            font-size: 2rem !important;
        }
    }

    .contact-content {
        .content-details {
            .content-card {
                display: inline-block;
                margin-inline: auto;
                width: 75% !important;

                a {
                    display: inline-block;
                    margin-inline: auto;
                    width: 75% !important;
                    
                    p {
                        font-size: 0.8rem !important;
                    }
                }
            }
        }
    }
}