.facility {
    font-family: "Noto Sans", sans-serif;
    margin: 4rem 0;

    .facility-container {
        display: flex;
        flex-direction: column;
        background-color: #6894c5;

        .facility-row1 {
            display: flex;
            flex-direction: row;
            justify-content: center;

            :first-child {
                width: 70%;
            }

            img {
                width: 30%;
            }

        }

        .facility-row2 {
            display: flex;
            flex-direction: row;
            justify-content: center;

            :nth-child(2) {
                width: 70%;
            }

            img {
                width: 30%;
            }

        }

        .facility-row3 {
            display: flex;
            flex-direction: row;
            justify-content: center;

            :nth-child(3) {
                width: 70%;
            }

            img {
                width: 30%;
            }
        }
    }

    h2 {
        text-align: center;
        margin: 0rem 0rem 2rem 0rem;
        color: #1759A6;
        font-size: 3rem;
        font-weight: 900;
    }
}

@media screen and (max-width: 768px) {
    .facility {
        margin-inline: 1rem;

        h2 {
            font-size: 2rem;
        }
    }

}

@media screen and (max-width: 576px) {
    .facility {
        margin: 0;
    }

    .facility-container {
        display: flex;
        flex-direction: column;

        .facility-row1,
        .facility-row2,
        .facility-row3 {
            display: flex;
            flex-direction: column !important;
            img {
                width: 100% !important;
            }
        }
    }
}