.facility {
    font-family: "Noto Sans", sans-serif;
    margin: 4rem 5rem;

    .facility-container {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 50%;
        }
    }

    h2 {
        text-align: center;
        margin-bottom: 2rem;
        color: #1759A6;
        font-size: 3rem;
        font-weight: 900;
    }
}

@media screen and (max-width: 768px) {
    .virtual-tour {
        margin-inline: 1rem;
    }
    
}

@media screen and (max-width: 576px) {
    .virtual-tour {
        margin-inline: 0.5rem;
    }
    
}