.facility {
    font-family: "Noto Sans", sans-serif;
    margin: 4rem 5rem;

    .facility-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .facility-row1 {
            display: flex;
            flex-direction: row;
            justify-content: center;

            img {
                width: 50%;
            }
        }

        .facility-row2 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 2rem;

            img {
                width: 15%;
            }

        }
        
        .facility-row3 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 1.5rem;

            img {
                width: 40%;
            }
        }

        img {
            width: 50%;
        }
    }

    h2 {
        text-align: center;
        margin-bottom: 2rem;
        color: #1759A6;
        font-size: 3rem;
        font-weight: 900;
    }
}

@media screen and (max-width: 768px) {
    .facility {
        margin-inline: 1rem;

        h2 {
            font-size: 2rem;
        }
    }
    
}

@media screen and (max-width: 576px) {
    .facility {
        margin-inline: 0.5rem;
    }
    
}