.faqs {
    font-family: "Noto Sans", sans-serif;
    margin: 4rem 5rem;

    h2 {
        text-align: center;
        margin-bottom: 2rem;
        color: #1759A6;
        font-size: 3rem;
        font-weight: 900;
    }

    .faq-card {
        border-radius: 1rem;
        margin-inline: 4rem;
        margin-bottom: 1.5rem;

        .faq-content {
            border: 1px solid black;
            border-radius: 1rem;
            padding: 1rem;
            box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
            font-size: 1.25rem;
            background-color: white;
            color: black;

            ol {
                padding: 1.25rem 3rem;
                font-weight: 700;

                li {
                    margin-bottom: 1.5rem;;
                }
            }
            ul {
                li {
                    font-weight: normal;
                }
            }
        }

        &.active {
            background-color: white;
            box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.5);

            .faq-collapse {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }

            .faq-content {
                display: block;
            }

            .faq-collapse img {
                transform: rotate(180deg);
            }
        }
    }

    a {
        display: flex;
        justify-content: center;
        text-decoration: none;
        background-color: #1759A6;
        color: white;
        width: 10rem;
        padding: 1rem;
        margin: 0 auto;
        font-weight: 700;
    }

    .faq-link {
        display: inline-block;
        background-color: white;
        color: black;
        text-decoration: underline;
        width: fit-content;
        padding: 0rem;

        &:hover {
            color: #1759A6;
        }
    }
}

@media (min-width: 577px) and (max-width: 1024px) {
    .faq-collapse {
        padding: 0.5rem 4rem !important;
    }
}

@media (max-width: 576px) {
    .faqs {
        margin: 0rem 2rem !important;
        h3 {
            font-size: 01rem !important;
        }

        .faq-card {
                margin-inline: 0rem !important;

                .faq-collapse {
                    padding: 0.5rem 1rem !important;


                img {
                    width: 1rem !important;
                    height: 1rem !important;
                }
            }

            .faq-content {
                ol {
                    font-size: 0.8rem !important;
                    padding: 0.5rem 1.5rem !important;
                }
            }
        }
    }
}