.featured {
    font-family: "Noto Sans", sans-serif;
    margin: 4rem 5rem;

    h2 {
        text-align: center;
        margin-bottom: 1.5rem;
        color: #1759A6;
        font-weight: 900;
        font-size: 3rem;
    }

    .featured-card {
        margin-inline: 10rem;
        padding: 2rem;
        margin-bottom: 2rem;
        border-radius: 1rem;
        background-color: #2961a1;

        .collapse {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 2rem;
            cursor: pointer;

            h3 {
                color: white;
                text-align: center;
            }
        }

        .featured-content {
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            iframe {
                margin-bottom: 1rem;
            }

            p {
                margin-inline: 10rem;
                font-weight: 600;
                text-align: justify;
                color: white;
            }
        }

        // Show content when card is active
        &.active {
            .featured-content {
                display: flex;
            }
        }
    }
}

@media (max-width: 1180px) {
    .featured-card {
        margin-inline: 2rem !important;
        padding: 1rem;
        margin-bottom: 1rem;

        .collapse {
            gap: 1rem;
            img {
                width: 1.5rem;
                height: 1.5rem;
            }
        }

        .featured-content {
            iframe {
                width: 100%;
                height: 400px;
            }

            p {
                margin-inline: 2rem !important; 
            }
        }
    }
}

@media (max-width: 576px) {
    .featured {
        margin: 2rem 1rem;

        h2 {
            font-size: 2rem !important;
        }

        .featured-card {
            margin-inline: 0rem;
            padding: 1rem;
            margin-bottom: 1rem;

            .collapse {
                gap: 1rem;
                img {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }

            .featured-content {
                iframe {
                    width: 75%;
                    height: 75%;
                }

                p {
                    margin-inline: 2rem;
                }
            }
        }
    }
}