.landing {
    background: rgb(25,93,168);
    background: linear-gradient(180deg, rgba(25,93,168,1) 0%, rgba(255,255,255,0) 100%);

    .landing-content {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .landing-text {
            font-family: "Noto Sans", sans-serif;
            font-size: 0.75rem;
            font-weight: 900;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); 
            text-align: left;
            align-content: center;
            color: white;
            margin-left: 6rem;
        }

        .landing-hero {
            margin-inline: 3rem;
            img {
                width: 100%;
                align-content: center;
            }
        }
    }
}

@media (min-width: 577px) and (max-width: 1024px) {
    .landing-text {
        font-size: 1.25rem !important;
        margin-left: 2rem !important;
    }

    .landing-hero {
        margin-inline: 2rem !important;
    }
}

@media (max-width: 576px) {
    .landing-content {
        padding-top: 5rem;
    }

    .landing-text {
        font-size: 0.75rem !important;
        margin-left: 1rem !important;
    }

    .landing-hero {
        margin-inline: 1rem !important;
        img {
            align-content: center;
            width: 100%;
        }
    }
}