.services {
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    margin: 4rem 5rem;

    h1 {
        text-align: center;
        color: #1759A6;
        font-weight: 900;
        font-size: 3rem;
    }
    .services-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        gap: 3rem;

        .services-card {
            display: flex;
            flex-direction: column;
            justify-content: start;
            outline: solid 1px black;
            border-radius: 1rem;
            outline-offset: 1rem;
            align-items: stretch;
            height: 100%;
            width: 100%;

            .services-text {
                h2 {
                    text-align: center;
                }
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    padding-left: 1rem;
                }
            }
        }
    }
    a {
        display: flex;
        justify-content: center;
        text-decoration: none;
        background-color: #1759A6;
        color: white;
        width: 10rem;
        padding: 1rem;
        margin: 3rem auto 0rem auto;
        font-weight: 700;
    }
    h3 {
        margin-top: 2.5rem;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .services {
        margin: 0rem 5rem !important;
        h1 {
            font-size:  3rem !important;
        }

        .services-content {
            display: flex;
            flex-direction: column;

            .services-card {
                .services-text {
                    h2 {
                        font-size: 2rem;
                    }
                }
            }

            .services-hero {
                img {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 320px) {
    .services {
        margin: 0rem 1.5rem !important;
        h1 {
            font-size: 2rem !important;
        }

        .services-content {
            display: flex;
            flex-direction: column;

            .services-hero {
                img {
                    width: 100%;
                }
            }
        }
    }
    
}