.services {
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    margin: 4rem 5rem;

    h1 {
        text-align: center;
        margin-bottom: 1rem;
        color: #1759A6;
        font-weight: 900;
        font-size: 3rem;
    }
    .services-content {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .services-hero {
            text-align: center;
            img {
                width: 80%;
            }
        }
    }
}

@media (max-width: 576px) {
    .services {
        h1 {
            font-size: 2rem !important;
        }

        .services-content {
            display: flex;
            flex-direction: column;

            .services-hero {
                img {
                    width: 100%;
                }
            }
        }
    }
    
}