.testimonials {
    font-family: "Noto Sans", sans-serif;
    margin: 4rem 0;


    h2 {
        text-align: center;
        margin-bottom: 3rem;
        color: #1759A6;
        font-weight: 900;
        font-size: 3rem;
    }
}

.testimonial-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.testimonial-track {
    display: flex;
    gap: 1.5rem;
    transition: transform .6s ease-in-out;
}

.testimonial-card {
    flex: 0 0 calc(33.333% - 1rem);   /* Only 3 cards visible */
}