.testimonials {
    font-family: "Noto Sans", sans-serif;
    margin: 4rem 5rem;

    h2 {
        text-align: center;
        margin-bottom: 1.5rem;
        color: #1759A6;
        font-weight: 900;
        font-size: 3rem;
    }

    .testimonial-card {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .testimonial-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 2rem;
            border: 1px solid black;
            gap: 2rem;

            .testimonial-head {
                margin-bottom: 1rem;

                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                }
            }

            .testimonial-text {
                font-size: 1.25rem;
                margin-bottom: 1rem;
                color: black;
            }

            .testimonial-name {
                font-weight: 700;

                p:first-child {
                    font-size: 1.5rem;
                    margin-bottom: 0.25rem;
                }

                p:last-child {
                    font-size: 1rem;
                    font-weight: 400;
                }
            }
        }
    }
}