.testimonials {
    font-family: "Noto Sans", sans-serif;
    margin: 5rem 0;
    font-weight: 500;


    h2 {
        text-align: center;
        margin-bottom: 3rem;
        color: #1759A6;
        font-weight: 900;
        font-size: 3rem;
    }

    .checked {
        color: orange;
    }

    .testimonial-content {
        margin: 2rem 0rem 2rem 0rem;
    }

    .testimonial-text {
        margin-inline: 4rem;
    }
}


.testimonial-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.testimonial-track {
    display: flex;
    gap: 1.5rem;
    transition: transform .6s ease-in-out;
}

.testimonial-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    img {
        width: 15%;
    }

    .star {
        display: flex;
        flex-direction: row;
        gap: 0.75rem;
        margin-bottom: 1rem;
    }
}

.testimonial-card {
    flex: 0 0 33.333%;
    border: 1px solid black;
    border-radius: 3rem;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);

    @media (max-width: 992px) {
        flex: 0 0 50%; // 2 per row/tablet
    }

    @media (max-width: 576px) {
        flex: 0 0 100%; // full width on mobile
    }
}

.testimonial-name {
    font-weight: 800;
    font-size: 1.75rem;

    p {
        margin: 0;
    }
}

@media (max-width: 576px) {
    .testimonials {

        h2 {
            font-size: 2rem;
        }

        .testimonial-card {
            
            .testimonial-content {
                .testimonial-head {
                    img {
                        width: 30%;
                    }
                }

                .testimonial-text {
                    p {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}