@import 'globals';
@import 'landing';
@import 'about';
@import 'services';
@import 'faqs';
@import 'featured';
@import 'partner';
@import 'product';
@import 'contact';
@import 'facility';
@import 'testimonials';